body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(180, 177, 175);
  background: linear-gradient(to right, grey, white);
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="tel"],
button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.back-btn {
  color: black;
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  left: 530px;
}

.back-btn:hover {
  background-color: #e5533d;
}

#confirmation {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  color: #333;
}
